body { font-family:Arial; background:#f5f5f5; padding:40px; }

.login-box {
    width:350px; margin:auto; padding:30px;
    background:white; border-radius:8px;
    box-shadow:0 0 10px #ccc; text-align:center;
}

.login-box input {
    width:90%; padding:10px; margin:10px;
}

button {
    padding:10px 20px;
    background:#0d3692;
    color:white;
    border:none;
    cursor:pointer;
    border-radius:6px;
}

.controls input { padding:10px; margin:5px; }
.controls button { margin:5px; }
